<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @complaint.user_id %>
</p>

<p>
  <b>Restaurant:</b>
  <%= @complaint.restaurant_id %>
</p>

<p>
  <b>Content:</b>
  <%= @complaint.content %>
</p>


<%= link_to 'Edit', edit_restaurant_complaint_path(@restaurant, @complaint) %> |
<%= link_to 'Back', restaurant_complaints_path(@restaurant) %>
