<body class="thrColElsHdr">
<div id="container">
  <div id="header">
	<h1>汴地吃货 - 用户详情</h1></div>
	<div id="mainContent">
<p id="notice"><%= notice %></p>
<label>Name:</label><label1>
  <%= @user.name %>
</label1>
<br />

<label>
Restaurant Comments:</label><label1>
	<% @user.restaurant_comments.each do |comment| %>
		<%= link_to comment.content, restaurant_comment_path(comment.restaurant, comment) %>
	<% end %>
</label1>
<br />

<label>
Dish Comments:</label><label1>
	<% @user.dish_comments.each do |comment| %>
		<%= link_to comment.content, dish_comment_path(comment.dish, comment) %>
	<% end %>
</label1>
<br />

<label>
Recommendation Restaurants:</label><label1>
	<% @user.recommendation_restaurants.each do |restaurant| %>
		<%= link_to restaurant.name, restaurant %>
	<% end %>
</label1>
<br />

<p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</p>

</div>
<div id ="footer">
<p>2012 北京大学信息科学技术学院© 王仲禹 阳泓吉 刘芸</p>
</div>
</div>
</body>
