<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
	<b>Restaurant Comments:</b>
	<% @user.restaurant_comments.each do |comment| %>
		<%= link_to comment.content, restaurant_comment_path(comment.restaurant, comment) %>
	<% end %>
</p>

<p>
	<b>Dish Comments:</b>
	<% @user.dish_comments.each do |comment| %>
		<%= link_to comment.content, dish_comment_path(comment.dish, comment) %>
	<% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
