<body class="thrColElsHdr">
<div id="container">
  <div id="header">
	<h1>汴地吃货 - 菜肴评论列表</h1></div>
	<div id="mainContent">

<table>
  <tr>
	<th>id</th>
    <th>Dish</th>
    <th>User</th>
    <th>Evaluation</th>
    <th>Time</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%
  odd_or_even = 0
  %>

<% @dish_comments.each do |dish_comment| %>
   <%
  odd_or_even = 1-odd_or_even
  %>
  <tr class = "ListLine<%= odd_or_even %>" >
    <td><%= dish_comment.id %></td>  
	<td><% if dish_comment.dish %><%= link_to dish_comment.dish.name, restaurant_dish_path(dish_comment.dish.restaurant, dish_comment.dish) %><% end %></td>
	<td><% if dish_comment.user %><%= link_to dish_comment.user.name, dish_comment.user %><% end %></td>
    <td><%= dish_comment.evaluation %></td>
    <td><%= dish_comment.created_at %></td>
    <td><%= dish_comment.content %></td>
    <td><%= link_to 'Show', dish_comment_path(@dish, dish_comment) %></td>
    <td><%= link_to 'Edit', edit_dish_comment_path(@dish, dish_comment) %></td>
    <td><%= link_to 'Destroy', dish_comment_path(@dish, dish_comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<p>
<%= link_to 'New Dish Comment', new_dish_comment_path(@dish) %>
</p>
</div>
<div id ="footer">
<p>2012 北京大学信息科学技术学院© 王仲禹 阳泓吉 刘芸</p>
</div>
</div>
</body>

