<p id="notice"><%= notice %></p>

<p>
  <b>Dish:</b>
  <%= @dish_comment.dish_id %>
</p>

<p>
  <b>User:</b>
  <%= @dish_comment.user_id %>
</p>

<p>
  <b>User name:</b>
  <%= @dish_comment.user_name %>
</p>

<p>
  <b>Evaluation:</b>
  <%= @dish_comment.evaluation %>
</p>

<p>
  <b>Time:</b>
  <%= @dish_comment.time %>
</p>

<p>
  <b>Content:</b>
  <%= @dish_comment.content %>
</p>


<%= link_to 'Edit', edit_dish_comment_path(@dish_comment) %> |
<%= link_to 'Back', dish_comments_path %>
