<%= form_for([@restaurant, @dish]) do |f| %>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% @dish.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.label :restaurant_id %>
	<%= f.text_field :restaurant_id %>
  </div>
<br />
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
<br />
  <div class="field">
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>
<br />
  <div class="field">
    <%= f.label :evaluation %>
    <%= f.text_field :evaluation %>
  </div>
<br />
  <div class="field">
    <%= f.label :cost %>
    <%= f.text_field :cost %>
  </div>
<br />
  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
<br />
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
<br />
  </div>
  <div class="actions">
    <%= f.submit "Upload the Dish Info", :class=>"submit"%>
  </div>
<br />
<% end %>
