<body class="thrColElsHdr">
<div id="container">
  <div id="header">
	<h1>汴地吃货 - 菜肴列表</h1></div>
	<div id="mainContent">
<table>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Image</th>
    <th>Evaluation</th>
    <th>Cost</th>
    <th>Category</th>
    <th>Description</th>
	<th>Recommendation Count</th>
	<th>Restaurant</th>
	<th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 <%
  odd_or_even = 0
  %>

<% @dishes.each do |dish| %>
  <%
  odd_or_even = 1-odd_or_even
  %>
  <tr  class = "ListLine<%= odd_or_even %>" >
    <td><%= dish.id %></td>
    <td><%= dish.name %></td>
    <td><%= image_tag(dish.image_url) %></td>
    <td><%= dish.evaluation %></td>
    <td><%= dish.cost %></td>
    <td><%= dish.category %></td>
    <td><%= dish.description %></td>
    <td><%= dish.recommendation_count %></td>
	<td><% if dish.restaurant %><%= link_to dish.restaurant.name, dish.restaurant %><% end %></td>
	<td><% dish.dish_comments.each do |comment| %>
			<%= link_to comment.content, dish_comment_path(dish, comment) %>
		<% end %>
	</td>
	<td><%= link_to 'Show', restaurant_dish_path(@restaurant, dish) %></td>
    <td><%= link_to 'Edit', edit_restaurant_dish_path(@restaurant, dish) %></td>
    <td><%= link_to 'Destroy', [@restaurant, dish], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<p>
<%= link_to 'New Dish', new_restaurant_dish_path(@restaurant) %>
</p>
</div>
<div id ="footer">
<p>2012 北京大学信息科学技术学院© 王仲禹 阳泓吉 刘芸</p>
</div>
</div>
</body>

