<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dish.name %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag(@dish.image_url) %>
</p>

<p>
  <b>Evaluation:</b>
  <%= @dish.evaluation %>
</p>

<p>
  <b>Cost:</b>
  <%= @dish.cost %>
</p>

<p>
  <b>Category:</b>
  <%= @dish.category %>
</p>

<p>
  <b>Description:</b>
  <%= @dish.description %>
</p>

<p>
  <b>Restaurant:</b>
  <% if @dish.restaurant %><%= @dish.restaurant.name %><% end %>
</p>


<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
