<body class="thrColElsHdr">
<div id="container">
  <div id="header">
	<h1>汴地吃货 - 菜肴详情</h1></div>
	<div id="mainContent">
<p id="notice"><%= notice %></p>

<label>Name:</label><label1>
  <%= @dish.name %>
</label1>
<br />

<label>
Image:</label><label1>
  <%= image_tag(@dish.image_url) %>
</label1>
<br />

<label>Evaluation:</label><label1>
  <%= @dish.evaluation %>
</label1>
<br />

<label>Cost:</label><label1>
  <%= @dish.cost %>
</label1>
<br />

<label>Category:</label><label1>
  <%= @dish.category %>
</label1>
<br />

<label>Description:</label><label1>
  <%= @dish.description %>
</label1>
<br />

<label>Recommendation Count:</label><label1>
  <%= @dish.recommendation_count %>
</label1>
<br />

<label>Restaurant:</label><label1>
  <% if @dish.restaurant %><%= link_to @dish.restaurant.name, @dish.restaurant %><% end %>
</label1>
<br />

<label><%= link_to 'Comments:', dish_comments_path(@dish) %></label><label1>
  <% @dish.dish_comments.each do |comment| %>
	  <%= link_to comment.content, dish_comment_path(@dish) %>
  <% end %>
</label1>
<br />

<p>
<%= link_to 'Edit', edit_restaurant_dish_path(@restaurant, @dish) %> |
<%= link_to 'Back', restaurant_dishes_path(@restaurant) %>
</p>

</div>
<div id ="footer">
<p>2012 北京大学信息科学技术学院© 王仲禹 阳泓吉 刘芸</p>
</div>
</div>
</body>
