<% url = (action_name == "new" ? {:action=>"create", :controller=>"restaurant_comments"} : {:action=>"update", :controller=>"restaurant_comments"})%>
<%= form_for([@restaurant, @restaurant_comment], url: url) do |f| %>
  <% if @restaurant_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant_comment.errors.count, "error") %> prohibited this restaurant_comment from being saved:</h2>

      <ul>
      <% @restaurant_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :restaurant_id %>
    <%= f.number_field :restaurant_id %>
  </div>
<br />
  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>
<br />
  <div class="field">
    <%= f.label :evaluation %>
    <%= f.text_field :evaluation %>
  </div>
<br />
  <div class="field">
    <%= f.label :cost %>
    <%= f.text_field :cost %>
  </div>
<br />
  <div class="field">
    <%= f.label :recommendation_dishes %>
    <%= f.text_field :recommendation_dishes %>
  </div>
<br />
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
<br />
  <div class="actions">
    <%= f.submit"Upload the Comment Info", :class=>"submit" %>
  </div>
<br />
<% end %>
