<h1>Listing restaurant_comments</h1>

<table>
  <tr>
	<th>id</th>
    <th>Restaurant</th>
    <th>User</th>
    <th>User name</th>
    <th>Evaluation</th>
    <th>Cost</th>
    <th>Time</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restaurant_comments.each do |restaurant_comment| %>
  <tr>
    <td><%= restaurant_comment.id %></td>
    <td><%= restaurant_comment.restaurant_id %></td>
    <td><%= restaurant_comment.user_id %></td>
    <td><%= restaurant_comment.user_name %></td>
    <td><%= restaurant_comment.evaluation %></td>
    <td><%= restaurant_comment.cost %></td>
    <td><%= restaurant_comment.time %></td>
    <td><%= restaurant_comment.content %></td>
    <td><%= link_to 'Show', restaurant_comment %></td>
    <td><%= link_to 'Edit', edit_restaurant_comment_path(restaurant_comment) %></td>
    <td><%= link_to 'Destroy', restaurant_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Restaurant comment', new_restaurant_comment_path %>
