<h1>Listing restaurant_comments</h1>

<table>
  <tr>
	<th>id</th>
    <th>Restaurant</th>
    <th>User</th>
    <th>Evaluation</th>
    <th>Cost</th>
    <th>Time</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restaurant_comments.each do |restaurant_comment| %>
  <tr>
    <td><%= restaurant_comment.id %></td>
	<td><% if restaurant_comment.restaurant %><%= link_to restaurant_comment.restaurant.name, restaurant_comment.restaurant %><% end %></td>
	<td><% if restaurant_comment.user %><%= link_to restaurant_comment.user.name, restaurant_comment.user %><% end %></td>
    <td><%= restaurant_comment.evaluation %></td>
    <td><%= restaurant_comment.cost %></td>
    <td><%= restaurant_comment.created_at %></td>
    <td><%= restaurant_comment.content %></td>
    <td><%= link_to 'Show', restaurant_comment_path(@restaurant, restaurant_comment) %></td>
    <td><%= link_to 'Edit', edit_restaurant_comment_path(@restaurant, restaurant_comment) %></td>
    <td><%= link_to 'Destroy', restaurant_comment_path(@restaurant, restaurant_comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Restaurant comment', new_restaurant_comment_path(@restaurant) %>
