<p id="notice"><%= notice %></p>

<p>
  <b>Restaurant:</b>
  <% if @restaurant_comment.restaurant %><%= link_to @restaurant_comment.restaurant.name, @restaurant_comment.restaurant %><% end %>
</p>

<p>
  <b>User:</b>
  <% if @restaurant_comment.user %><%= link_to @restaurant_comment.user.name, @restaurant_comment.user %><% end %>
</p>

<p>
  <b>Evaluation:</b>
  <%= @restaurant_comment.evaluation %>
</p>

<p>
  <b>Cost:</b>
  <%= @restaurant_comment.cost %>
</p>

<p>
  <b>Time:</b>
  <%= @restaurant_comment.created_at %>
</p>

<p>
  <b>Recommendation Dishes:</b>
  <%= @restaurant_comment.recommendation_dishes %>
</p>

<p>
  <b>Content:</b>
  <%= @restaurant_comment.content %>
</p>


<%= link_to 'Edit', edit_restaurant_comment_path(@restaurant, @restaurant_comment) %> |
<%= link_to 'Back', restaurant_comments_path(@restaurant) %>
