<body class="thrColElsHdr">
<div id="container">
  <div id="header">
	<h1>汴地吃货 - 食堂详情</h1></div>
	<div id="mainContent">
<p id="notice"><%= notice %></p>

<label>Restaurant:</label><label1>
  <% if @restaurant_comment.restaurant %><%= link_to @restaurant_comment.restaurant.name, @restaurant_comment.restaurant %><% end %>
</label1>
<br />

<label>User:</label><label1>
  <% if @restaurant_comment.user %><%= link_to @restaurant_comment.user.name, @restaurant_comment.user %><% end %>
</label1>
<br />

<label>
Evaluation:</label><label1>
  <%= @restaurant_comment.evaluation %>
</label1>
<br />

<label>
Cost:</label><label1>
  <%= @restaurant_comment.cost %>
</label1>
<br />

<label>
Time:</label><label1>
  <%= @restaurant_comment.created_at %>
</label1>
<br />

<label>
Recommendation Dishes:</label><label1>
  <%= @restaurant_comment.recommendation_dishes %>
</label1>
<br />

<label>
Content:</label><label1>
  <%= @restaurant_comment.content %>
</label1>
<br />
<p>
<%= link_to 'Edit', edit_restaurant_comment_path(@restaurant, @restaurant_comment) %> |
<%= link_to 'Back', restaurant_comments_path(@restaurant) %>
</p>

</div>
<div id ="footer">
<p>2012 北京大学信息科学技术学院© 王仲禹 阳泓吉 刘芸</p>
</div>
</div>
</body>