<body class="thrColElsHdr">
<div id="container">
  <div id="header">
	<h1>汴地吃货 - 食堂列表</h1></div>
	<div id="mainContent">
<table>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Image</th>
    <th>Busy</th>
    <th>Evaluation</th>
    <th>Average cost</th>
    <th>Description</th>
    <th>Dishes</th>
    <th>Comments</th>
    <th></th>
  </tr>
  <%
  odd_or_even = 0
  %>
<% @restaurants.each do |restaurant| %>
  <%
  odd_or_even = 1-odd_or_even
  %>
  <tr class = "ListLine<%= odd_or_even %>" >
    <td><%= restaurant.id %></td>
    <td><%= restaurant.name %></td>
    <td><%= image_tag(restaurant.image_url) %></td>
	<td><% if restaurant.busy == 0 %>拥挤<% end %><% if restaurant.busy == 1 %>还行<% end %><% if restaurant.busy == 2 %>宽松<% end %></td>
    <td><%= restaurant.evaluation %></td>
    <td><%= restaurant.average_cost %></td>
    <td><%= restaurant.description %></td>
	<td>
		<% restaurant.dishes.each do |dish| %>
			<%= link_to dish.name, restaurant_dish_path(restaurant, dish) %><br />
		<% end %>
	</td>
	<td>
		<% restaurant.restaurant_comments.each do |comment| %>
			<%= link_to comment.content, restaurant_comment_path(restaurant, comment) %><br />
		<% end %>
	</td>
    <td class = ListActions">
	<%= link_to 'Show', restaurant %><br />
    	<%= link_to 'Edit', edit_restaurant_path(restaurant) %><br />
    	<%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<p><%= link_to 'New Restaurant', new_restaurant_path %></p>
</div>
<div id ="footer">
<p>2012 北京大学信息科学技术学院© 王仲禹 阳泓吉 刘芸</p>
</div>
</div>
</body>
