<h1>Listing restaurants</h1>

<table>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Image</th>
    <th>Busy</th>
    <th>Recommendations</th>
    <th>Evaluation</th>
    <th>Location name</th>
    <th>Location zone</th>
    <th>Location latitude</th>
    <th>Location longitude</th>
    <th>Info time</th>
    <th>Info tel</th>
    <th>Info summary</th>
    <th>Average cost</th>
    <th>Category</th>
    <th>Description</th>
    <th>Dishes</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= restaurant.id %></td>
    <td><%= restaurant.name %></td>
    <td><%= image_tag(restaurant.image_url) %></td>
    <td><%= restaurant.busy %></td>
    <td><%= restaurant.recommendations %></td>
    <td><%= restaurant.evaluation %></td>
    <td><%= restaurant.location_name %></td>
    <td><%= restaurant.location_zone %></td>
    <td><%= restaurant.location_latitude %></td>
    <td><%= restaurant.location_longitude %></td>
    <td><%= restaurant.info_time %></td>
    <td><%= restaurant.info_tel %></td>
    <td><%= restaurant.info_summary %></td>
    <td><%= restaurant.average_cost %></td>
    <td><%= restaurant.category %></td>
    <td><%= restaurant.description %></td>
	<td>
		<% restaurant.dishes.each do |dish| %>
			<%= link_to dish.name, restaurant_dish_path(restaurant, dish) %>
		<% end %>
	</td>
	<td>
		<% restaurant.restaurant_comments.each do |comment| %>
			<%= link_to comment.content, restaurant_comment_path(restaurant, comment) %>
		<% end %>
	</td>
    <td><%= link_to 'Show', restaurant %></td>
    <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
    <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Restaurant', new_restaurant_path %>
