<body class="thrColElsHdr">
<div id="container">
  <div id="header">
	<h1>汴地吃货 - 食堂详情</h1></div>
	<div id="mainContent">
<p id="notice"><%= notice %></p>

<label>
  Name:</label><label1>
  <%= @restaurant.name %></label1>
<br />

<label>
  Image:</label><label1>
  <%= image_tag(@restaurant.image_url) %></label1>
<br />

<label>Busy:</label><label1>
  <% if @restaurant.busy == 0 %>繁忙<% end %><% if @restaurant.busy == 1 %>还行<% end %><% if @restaurant.busy == 2 %>宽松<% end %>
</label1>
<br />

<label>Recommendations:</label><label1>
  <% @restaurant.recommendations.each do |dish| %>
	  <%= link_to dish[:name], restaurant_dish_path(@restaurant, dish[:id]) %>
  <% end %>
</label1>
<br />

<label>Evaluation:</label>

<label1>
<ul class="star-rating">
<% length = @restaurant.evaluation*30 %>
<li class="current-rating" style = "width:<%= length %>px;"/ >
<li><a href="#" title="1 star out of 5" class="one-star">1</a></li>
<li><a href="#" title="2 stars out of 5" class="two-stars">2</a></li>
<li><a href="#" title="3 stars out of 5" class="three-stars">3</a></li>
<li><a href="#" title="4 stars out of 5" class="four-stars">4</a></li>
<li><a href="#" title="5 stars out of 5" class="five-stars">5</a></li>
</ul>
</label1>
<br />

<label>Location name:</label><label1>
  <%= @restaurant.location_name %>
</label1>
<br />

<label>Location zone:</label><label1>
  <%= @restaurant.location_zone %>
</label1>
<br />

<label>Location latitude:</label><label1>
  <%= @restaurant.location_latitude %>
</label1>
<br />

<label>Location longitude:</label><label1>
  <%= @restaurant.location_longitude %>
</label1>
<br />

<label>Info time:</label><label1>
  <%= @restaurant.info_time %>
</label1>
<br />

<label>Info tel:</label><label1>
  <%= @restaurant.info_tel %>
</label1>
<br />

<label>Info summary:</label><label1>
  <%= @restaurant.info_summary %>
</label1>
<br />

<label>Average cost:</label><label1>
  <%= @restaurant.average_cost %>元
</label1>
<br />

<label>Category:</label><label1>
  <%= @restaurant.category %>
</label1>
<br />

<label>Description:</label><label1>
  <%= @restaurant.description %>
</label1>
<br />

<label><%= link_to 'Dishes:', restaurant_dishes_path(@restaurant) %></label><label1>
  <% @restaurant.dishes.each do |dish| %>
	  <%= link_to dish.name, restaurant_dish_path(@restaurant, dish) %>
  <% end %>
</label1>
<br />

<label><%= link_to 'Comments:', restaurant_comments_path(@restaurant) %></label><label1>
  <% @restaurant.restaurant_comments.each do |comment| %>
	  <%= link_to comment.content, restaurant_comment_path(@restaurant, comment) %>
  <% end %>
</label1>
<br />

<p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
</p>

</div>
<div id ="footer">
<p>2012 北京大学信息科学技术学院© 王仲禹 阳泓吉 刘芸</p>
</div>
</div>
</body>
