<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag(@restaurant.image_url) %>
</p>

<p>
  <b>Busy:</b>
  <%= @restaurant.busy %>
</p>

<p>
  <b>Recommendations:</b>
  <%= @restaurant.recommendations %>
</p>

<p>
  <b>Evaluation:</b>
  <%= @restaurant.evaluation %>
</p>

<p>
  <b>Location name:</b>
  <%= @restaurant.location_name %>
</p>

<p>
  <b>Location zone:</b>
  <%= @restaurant.location_zone %>
</p>

<p>
  <b>Location latitude:</b>
  <%= @restaurant.location_latitude %>
</p>

<p>
  <b>Location longitude:</b>
  <%= @restaurant.location_longitude %>
</p>

<p>
  <b>Info time:</b>
  <%= @restaurant.info_time %>
</p>

<p>
  <b>Info tel:</b>
  <%= @restaurant.info_tel %>
</p>

<p>
  <b>Info summary:</b>
  <%= @restaurant.info_summary %>
</p>

<p>
  <b>Average cost:</b>
  <%= @restaurant.average_cost %>
</p>

<p>
  <b>Category:</b>
  <%= @restaurant.category %>
</p>

<p>
  <b>Description:</b>
  <%= @restaurant.description %>
</p>

<p>
  <b>Dishes:</b>
  <% dishes_name = Array.new %>
  <% @restaurant.dishes.each do |dish| %>
	  <% dishes_name.push dish.name %>
  <% end %>
  <%= dishes_name %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
